$color-white: #fff;
// black shade 
$color-black: #000;
$color-black-header: #1c272b;
$color-primary-black: #202124;
$color-bluish-black: #212a39;
// grey shade 
$color-primary-grey: #d9d9d9;
$color-secondary-grey: #ababab;
$color-tertiary-shade: #c6c6c6;
$color-lightgrey: #f3f3f3;
$color-grey: #5b5b5b;
$color-dark-grey: #4a4a4a;
// keito blue
$color-primary-keitoblue: #0041E7;
// anonynous shades
$color-purple: #5e1bfa;
$color-light-purple: #6236ff;
$color-lighter-purple: #cbd1e6;
$color-primary-purple: #ccccff;
$color-light-purple-shade: #e4ddff;
$color-secondary-purple: #eef2fe;
$color-yellow-orange: #e5aa33;
$color-light-yello-orange: #fdeab6;
$color-yellow-mango: #f7b500;
$color-orange: orange;
$color-greenish-blue: #40d4b3;
$color-light-greenish-blue: #c9f4ea;
$color-red-cherry: #e94835;
$color-light-red-cherry: #f9cac4;